@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




.callout-container {
height: 90vh;

background: url("../images/gym3.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);

}


/* Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}
    

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.text-uppercase {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.services {
    background-color: red;
}

.brand {
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    height: 90vh;
    
}

.brand h2 {
    color: #3206f7;
    letter-spacing: 4px;
    

}